@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,700&display=swap');
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* font */
  font-family: 'Spoqa Han Sans Neo', 'noto Sans KR', 'sans-serif';
  font-size: 16px;

  /* 스크롤바 */
  scrollbar-width: thin;
  scrollbar-color: #ccc #fff;
}
